.fourthContent {
    flex: 1;
    flex-wrap: nowrap;
    display: flex;
    border-radius: 4px;
    width: 100%;
    padding-inline: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    box-sizing: border-box;
}