@use "../../../../variables" as *;

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    padding: 20px;

    &__btnSave {
        display: flex;
        width: 14%;
        align-self: flex-end;
        justify-content: center;
        margin-top: 30px;

        background-color: #F378A9;
        color: #FFFFFF;
        font-size: 12pt;
        font-weight: 500;
        text-align: center;

        padding: 4px 10px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #E54384;
            transform: translate(0.4%);
        }
    }

    &__btnSaveLoad {
        overflow: hidden;
        position: relative; 
        width: 14%; 
        height: 30px;
        background-color: $loading-background;
        border-radius: 4px;
        align-self: flex-end;
        
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            transform: translateX(-100%);
            background: linear-gradient(
                90deg,
                transparent,
                rgba(255, 255, 255, 0.5),
                transparent
            );
            animation: shimmer 1.5s infinite;
        }
    }
}