@use "../../../../../../../variables" as *;

.contentTopLeft {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__previewLoad {
        width: 240px;
        height: 300px;
        border-radius: 4px;
        background-color: $loading-background;
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            transform: translateX(-100%);
            background: linear-gradient(
                90deg,
                transparent,
                rgba(255, 255, 255, 0.5),
                transparent
            );
            animation: shimmer 1.5s infinite;
        }
    }

    &__buttonContainer {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }

    &__buttonContainerLoad {
        display: flex;
        width: 240px;
        height: 30px;
        border-radius: 4px;
        background-color: $loading-background;
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            transform: translateX(-100%);
            background: linear-gradient(
                90deg,
                transparent,
                rgba(255, 255, 255, 0.5),
                transparent
            );
            animation: shimmer 1.5s infinite;
        }
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}