.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1px;

    &__title {
        font-size: 13pt;
        font-weight: 600;
        font-style: italic;
        color: #FFFFFF
    }

    &__data {
        font-size: 12pt;
        font-weight: 400;
        color: #FFFFFF;
    }
}