.avatarWrapper { 
    position: relative; 
    width: 280px; 
    height: 280px; 
    
    &__avatar { 
        object-fit: cover; 
        border-radius: 50%; 
        border: 1px solid rgba(211, 211, 211, 0.6); 
    } 
        
    &__editButton { 
        position: absolute; 
        bottom: 4px; 
        left: 84%; 
        transform: translateX(-50%); 
        width: 48px; 
        height: 48px; 
        border-radius: 50%; 
        border: none; 
        background: rgba(216, 216, 216, 0.93); 
        color: #424242; 
        font-size: large; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        cursor: pointer; 
            
        &:hover { 
            background: rgba(0, 0, 0, 0.8); 
            color: #dfdfdf; 
            box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2); 
        } 
    }
}