.commentContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 3px;

    &__profile {
        object-fit: cover;
        border-radius: 50%;
        box-sizing: border-box;
        cursor: pointer;

        width: 40px;
        height: 40px;
    }

    &__profileContainer {
        color: white;
        border: none;
        display: grid;
        place-items: center;
        position: relative;
        width: 40px; 
        height: 40px; 
        border-radius: 50%;

        &__profile {
            width: 43px; 
            height: 23px;
            display: grid; 
            place-items: center;
            padding: 0 9px;
            font-size: 12pt;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 4px;
            text-align: center;
        }
    }

    &__commentSect {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 4px;

        &__content {
            display: flex;
            flex-direction: column;
            gap: 2px;
            align-items: flex-start;

            &__username {
                font-size: 13pt;
                font-weight: 700;
                color: #FFFFFF;
                // text-decoration: underline;
                // cursor: pointer;
            }

            &__comment {
                font-size: 11pt;
                font-weight: 400;
                color: #FFFFFF;
            }
        }

        &__replyContainer {
            width: 100%;

            &__reply {
                
                button {
                    flex: 0.4;
                    background-color: transparent;
                    color: #FFFFFF;
                    font-size: 11pt;
                    font-weight: 500;
                    align-items: center;

                    &:focus {
                        border: none !important;
                    }
                }

                &__input {
                    flex: 9;
                    border: none;
                    border-bottom: 1px solid #FFFFFF;
                    padding: 3px 7px;
                    color: #FFFFFF;
                }

                &--appear {
                    display: flex;
                    gap: 3px;
                    justify-content: space-between;
                    width: 100%;
                }

                &--hidden {
                    display: none;
                }
            }

            &--leaf {
                display: none;
            }

            &--edge {
                display: flex;
                flex-direction: column;
                gap: 4px;
                align-items: flex-end;
            }

            &__detail {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-bottom: 4px;

                &__seeReply {
                    font-size: 10pt;
                    font-weight: 400;
                    text-decoration: underline;
                    color: #FFFFFF;

                    cursor: pointer;

                    &--appear {
                        display: flex;
                    }

                    &--hidden {
                        display: none;
                    }
                }

                &__reply {
                    font-size: 10pt;
                    font-weight: 400;
                    color: #FFFFFF; 

                    cursor: pointer;

                    &--appear {
                        display: flex;
                    }

                    &--hidden {
                        display: none;
                    }
                }
            }
        }
    }

    &--edge {
        width: 100%;
    }

    &--leaf {
        width: 100%;
        align-self: flex-end;
    }
}