@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lora&family=Merriweather&family=Nunito&family=Roboto&family=Source+Sans+3&&family=Poppins&display=swap");
@import "tailwindcss";

:root {
  /* --background: #303030 !important; */
  --background: #020204 !important;
  --foreground: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020204 !important;
    --foreground: #FFFFFF;
  }
}

html, body {
  /* background-color: var(--background) !important; */
  /* color: var(--foreground); */
  background-color: #020204 !important;
  color: #FFFFFF !important;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  overflow-x: hidden !important;
}