.tag {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: max-content;
    gap: 8px;
    padding: 4px 12px;
    margin-bottom: 8px;
    border-radius: 20px;
    background-color: #b3b3b3ce;
    color: #FFFFFF;
}