.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background: linear-gradient(90deg, #e54384, #eb78a6);
    height: 100px;
    width: 100%;
    object-fit: fill;

    z-index: 30;
}