.modalFootnoteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    
    &__label {
        font-size: 14pt;
        font-weight: 800;
    }

    &__content {
        font-size: 12pt;
        font-weight: 500;
        align-self: flex-start;
    }
}