.navigation {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-self: flex-start;

    &__title {
        font-size: 11pt;
        font-weight: 700;
        color: #FFFFFF;
    }

    &__unorderList {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: flex-start;
        align-items: flex-start;

        &__list {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;

            &__logoImage {
                object-fit: cover;
            }

            &__listName {
                font-size: 10pt;
                font-weight: 500;
                color: #FFFFFF;
            }
        }
    }
}