.listItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

    &__profileContainer {
        color: white;
        border: none;
        display: grid;
        place-items: center;
        position: relative;
        width: 40px; 
        height: 40px; 
        border-radius: 50%;

        &__profile {
            overflow: hidden;
            position: absolute;
            display: grid; 
            place-items: center;
            padding: 0 9px;
            font-size: 12pt;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 4px;
            text-align: center;
            margin-left: 3px;
        }

        &__profileImage {
            object-fit: cover;
            border-radius: 50%;
        }
    }

    &__username {
        font-size: 12pt;
        font-weight: 600;
        color: #FFFFFF;
    }
}