.unorderListLink {
    display: flex;
    gap: 40px;
            
    &__link {
        color: #FFFFFF;
        cursor: pointer;
        font-size: 12pt;
        font-weight: 400;

        &--active {
            font-weight: 700;
        }

        &--inactive {
            font-weight: 500;
        }

        &:hover {
            font-weight: 700;
        }
    }
}